---
import { Image } from 'astro:assets';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import FinalCTA from '../components/FinalCTA.astro';
import type { TNavigationItem } from '../config/navigation.ts';
import { projects } from '../content/projects.ts';
import Layout from './Layout.astro';

interface Props {
    name: string;
}

const { name } = Astro.props;

const project = projects.find((p) => p.name === name)!;

const breadcrumbItems: TNavigationItem[] = [
    {
        name: 'Work',
        url: '/#work',
    },
    {
        name: project.heading,
        url: project.url?.toString() ?? '',
    },
];
---

<Layout title={project.heading} description={project.goal ?? ''}>
    <article class="section nc-center work-page">
        <div class="nc-stack">
            <div class="nc-box nc-stack -inherit hero">
                <Breadcrumbs breadcrumbs={breadcrumbItems} />
                <header class="header">
                    <figure class="thumbnail" style={`view-transition-name: ${project.name}`}>
                        <Image
                            class="img"
                            src={project.cover}
                            alt={project.coverAlt}
                            widths={[800]}
                        ></Image>
                        <figcaption class="sr-only">{project.coverAlt}</figcaption>
                    </figure>
                    <div class="nc-stack">
                        <div class="headings">
                            <span class="subheading nc-slub slide-up-from">{project.subheading}</span>
                            <h1 class="gradient-text slide-up-from">{project.heading}</h1>
                        </div>
                    </div>
                </header>
            </div>
            <div class="main slide-up-from nc-with-sidebar">
                <aside data-aside>
                    <div class="nc-stack overview">
                        <p class="font-size-large">
                            <strong>
                                {project.goal}
                            </strong>
                        </p>
                        <ul class="tags">
                            {project.tags.map(tag => <li class="nc-slub tag">{tag}</li>)}
                        </ul>
                        <div class="actions">
                            <a href={project.url} target="_blank">{project.heading} angucken</a>
                        </div>
                    </div>
                </aside>
                <div class="body nc-flow styled-base-text prose" data-grow>
                    <slot />
                    <section class="nc-region">
                        <FinalCTA />
                    </section>
                </div>
            </div>
        </div>
    </article>
</Layout>

<style>
@custom-media --md-n-above (width >= 768px);
@custom-media --xl-n-above (width >= 1440px);

.work-page {
    --center-measure: 120ch;
}

.header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-far);

    @media (width >= 768px) {
        flex-direction: row;
    }
}

.thumbnail {
    view-transition-name: work-figure;
    flex-basis: min(48ch, 40vw, 100%);
    aspect-ratio: 3/2;
    margin: 0;

    & * {
        inline-size: 100%;
        block-size: 100%;
        border-radius: inherit;
    }
}

@keyframes slide-up {
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.headings {
    /* view-transition-name: work-headings; */
    max-inline-size: 100%;

    & h1 {
        animation: var(--animation-slide-up) 0.2s;
        font-size: calc(var(--font-size-display) * 0.6);
        text-wrap: pretty;
        max-inline-size: min(100%, 24ch);
        hyphens: auto;
        line-height: var(--line-height-small);

        @media (--md-n-above) {
            font-size: var(--font-size-display);
        }
    }
}

.subheading {
    display: block;

    font-size: var(--font-size-large);
    animation: var(--animation-slide-up);
}

.hero {
    padding-inline: 0;

    @media (--md-n-above) {
        --stack-gap: var(--spacing-far);
    }
}

.main {
    --with-sidebar-target-width: 32ch;
    --with-sidebar-min-size: 60%;

    padding-inline: 0;
    margin-inline-start: 0;
    animation: var(--animation-slide-up) 0.4s;
    gap: var(--spacing-farthest);

    @media (--xl-n-above) {
        margin-inline-start: auto;
    }
}

article {
    padding-block-start: 0;
    color: var(--color-text-muted);
}

.overview {
    position: sticky;
    top: calc(var(--spacing-adaptive) / 2);
    flex-wrap: wrap;
    flex-direction: row;

    @media (--md-n-above) {
        gap: var(--spacing-far);
    }

    & > * {
        flex-basis: 32ch;
    }
}

.actions {
    padding-block: var(--spacing-base);
}

.img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.tags {
    padding-inline-start: 0;
}

.tag {
    padding-inline-start: 0;
    display: flex;
    line-height: var(--line-height-small);

    &::before {
        content: "—";
        margin-inline-end: 1ch;
    }
}
</style>
