---
import { BudgetRanges, ProjectCategories } from '../../../content/questionnaire.ts';
import Layout from '../../../layouts/Layout.astro';
import { ensureTrailingSlash } from '../../../utils/ensureTrailingSlash.ts';

export async function getStaticPaths() {
    return Object.values(ProjectCategories).map((category) => ({
        params: { category: category.slug },
    }));
}

const { category } = Astro.params;

const options = [
    {
        slug: `/start/${category}/${BudgetRanges['bis-1000'].slug}`,
        desc:
            'Hier kommen kleine statische Websites oder einfache Landingpages in Frage. Auch kleine individuelle Softwarelösungen zählen dazu.',
        label: BudgetRanges['bis-1000'].name,
    },
    {
        slug: `/start/${category}/${BudgetRanges['1000-5000'].slug}`,
        desc:
            'Dieser Bereich umfasst kleine bis mittelgroße Websites, die die Implementierung von Content-Management-Systemen (CMS) erfordern. Auch einfache E-Commerce-Lösungen, individuelle Softwarelösungen oder einfache native Apps zählen dazu.',
        label: BudgetRanges['1000-5000'].name,
    },
    {
        slug: `/start/${category}/${BudgetRanges['5000-20000'].slug}`,
        desc:
            'Hier kommen mittelgroße bis große Websites in Frage, die eine umfangreiche Funktionalität erfordern. Auch umfangreiche E-Commerce-Lösungen, individuelle Softwarelösungen oder native Apps zählen dazu.',
        label: BudgetRanges['5000-20000'].name,
    },
    {
        slug: `/start/${category}/${BudgetRanges['ab-20000'].slug}`,
        desc:
            'Dieser Bereich umfasst umfangreiche Projekte, die eine hohe Funktionalität erfordern. Dazu kommt ein hoher Umfang und Komplexität aus den Bereichen Websites, Apps, E-Commerce oder maßgeschneiderten Softwarelösungen.',
        label: BudgetRanges['ab-20000'].name,
    },
];

const title = 'Was ist dein Budget?';
---

<Layout title={title} description="Mit dieser Angabe können wir den Umfang deines Projekts besser einschätzen.">
    <div class="nc-stack fullscreen">
        <section class="nc-stack -farthest nc-center">
            <h1 class="questionnaire-title">Was ist dein Budget?</h1>
            <ul class="nc-list-reset nc-ram-grid questionnaire-grid">
                {
                    options.map(option => (
                        <li class="nc-card card nc-clickable-card">
                            <div class="nc-stack">
                                <h3 class="gradient-text">
                                    <a href={ensureTrailingSlash(option.slug)} data-link="main">{option.label}</a>
                                </h3>
                                <p class="nc-hint">{option.desc}</p>
                            </div>
                        </li>
                    ))
                }
            </ul>
        </section>
    </div>
</Layout>
