---
import { Code } from 'astro:components';
import ComponentPreview from './ComponentPreview.astro';
import SectionTitle from './SectionTitle.astro';
import { SmarterSection } from './sections';

interface Props {
    sections: SmarterSection[];
}

const { sections } = Astro.props;
---

<div class="nc-stack -far -stretched">
    <h1>Components</h1>

    {
        sections.map(section => (
            <section class="nc-stack -base -stretched section-to-observe" id={section.sectionId}>
                <SectionTitle title={section.titleWithNumber} />
                {section.components.map(formEl => (
                    <ComponentPreview
                        component={formEl.component}
                        title={formEl.titleWithNumber}
                        description={formEl.description}
                        examples={formEl.examples}
                        notes={formEl.notes}
                        sectionId={formEl.sectionId}
                    />
                ))}
            </section>
        ))
    }
</div>
