---
import ModifierList from '../../common/components/ModifierList.astro';
import type { SmarterComponent } from './sections';
import SectionTitle from './SectionTitle.astro';
import SourceCodeDisplay from './SourceCodeDisplay.astro';

export interface Example {
    title: string;
    description?: string;
    code: string;
}

interface Props {
    component: SmarterComponent;
}

const { component } = Astro.props;
const {
    sectionId,
    title,
    examples,
    notes,
    component: componentPreview,
    modifiers,
    cssVariables,
    requirements
} = component;
---

<section class="nc-region nc-stack -far -stretched -contained component-preview" id={sectionId}>
<div class="nc-stack">
    <SectionTitle sectionId="component" title="Component"></SectionTitle>
    <div class="nc-stack -stretched -contained">
        <div class="nc-box -bordered preview-box">
            <Fragment set:html={componentPreview} />
        </div>
        <SourceCodeDisplay
            code={componentPreview}
            title={title}
            requirements={requirements}
        />
    </div>
    </div>
    {
        notes ? (
            <div class="nc-stack">
                <SectionTitle sectionId="notes" title="Usage notes"></SectionTitle>
                <ul>
                    {notes.map(note => (
                        <li>
                            <Fragment set:html={note}/>
                        </li>
                    ))}
                </ul>
            </div>
        ) : null
    }
    { modifiers ? (
    <div class="nc-stack">
        <SectionTitle sectionId="modifiers" title="Modifiers"></SectionTitle>
        <ModifierList modifiers={modifiers}></ModifierList>
    </div>
    ) : null }
    { cssVariables ? (
    <div class="nc-stack">
        <SectionTitle sectionId="cssVariables" title="CSS Variables"></SectionTitle>
        <ModifierList modifiers={cssVariables}></ModifierList>
    </div>
    ) : null }
    {
        examples ? (
            <div class="nc-stack">
                <SectionTitle sectionId="examples" title="Examples"></SectionTitle>
                {examples?.map(ex => (
                    <div class="nc-stack">
                    <h3>{ex.title}</h3>
                    {ex.description ? <p>{ex.description}</p> : null}

                    <div class="nc-stack -nogap -stretched -contained">
                        <div class="nc-box -bordered preview-box">
                            <Fragment set:html={ex.code} />
                        </div>
                        <SourceCodeDisplay code={ex.code} title={ex.title} />
                    </div>
                    </div>
                ))}
            </div>
        ) : null
    }
</section>

<style>
    .component-preview {
        padding-inline: var(--spacing-far);
        --input-field-min-inline-size: 32ch;
    }

    .preview-box {
        min-block-size: 12lh;
        inline-size: 100%;
    }
</style>
