---
import { Code } from 'astro:components';
interface Props {
    code: string;
    title: string;
    lang?: string;
}

const { code, title, lang = 'html' } = Astro.props;
---

<div class="source-code">
    <header class="nc-cluster -centered -between sc-header">
        <div class="nc-cluster -centered">
            <p><strong>{title}</strong></p>
            <span> - </span>
            <span class="nc-slub">{lang}</span>
        </div>
        <button
            type="button"
            class="nc-button -outline"
            data-copy-target={code}
            data-has-notification
            data-notification-title="✓ To clipboard"
            data-notification-description={`Copied ${title}'s code to your clipboard.`}
        >
            Copy code
        </button>
    </header>
    <Code
        code={code}
        lang="html"
        themes={{
            light: 'vitesse-light',
            dark: 'vitesse-dark',
        }}
        defaultColor={'light'}
        id="code-preview"
    />
</div>

<style is:global>
    .source-code {
        position: relative;
        inline-size: 100%;
    }

    .sc-header {
        border: var(--border-width-medium) solid var(--color-border-base);
        border-radius: var(--border-radius-medium);
        background: var(--color-surface-subtle);
        padding: 0.5lh 2ch;
        border-block-end: none;
        border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
    }

    #code-preview {
        border-block-start: none;
        border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
    }

    @media (prefers-color-scheme: dark) {
        html:not([data-theme='light']) {
            #code-preview,
            #code-preview span {
                color: var(--shiki-dark) !important;
                background-color: var(--shiki-dark-bg) !important;
                /* Optional, if you also want font styles */
                font-style: var(--shiki-dark-font-style) !important;
                font-weight: var(--shiki-dark-font-weight) !important;
                text-decoration: var(--shiki-dark-text-decoration) !important;
            }
        }
    }

    html[data-theme='dark'] {
        #code-preview,
        #code-preview span {
            color: var(--shiki-dark) !important;
            background-color: var(--shiki-dark-bg) !important;
            /* Optional, if you also want font styles */
            font-style: var(--shiki-dark-font-style) !important;
            font-weight: var(--shiki-dark-font-weight) !important;
            text-decoration: var(--shiki-dark-text-decoration) !important;
        }
    }
</style>
